{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fly Delta{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %} {% endblock %}
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo">Fly Delta</div>
        <div class="nav-links">
            <a id="search" href="#">Book</a>
            <a href="#">Trips</a>
            <a href="#">Deals & Offers</a>
            <a href="#">Check-in</a>
            <a href="#">Delta Rewards</a>
            <a href="#" id="user-icon">Login</a>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>Find exclusive offers and the best deals available for you.</p>
        <p>© 2025 Fly Delta. All Rights Reserved.</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var searchIcon = document.getElementById("search");
            var userIcon = document.getElementById("user-icon");
            var home = document.getElementsByClassName("logo");
            if (searchIcon) {
                searchIcon.addEventListener("click", function() {
                    window.location.href = "{% url 'flight_search' %}";
                });
            }

            if (userIcon) {
                userIcon.addEventListener("click", function() {
                    window.location.href = "{% if request.user.is_authenticated %}{% url 'account_info' %}{% else %}{% url 'login' %}{% endif %}";
                });
            }
        
        });
    </script>

</body>
</html>