{% extends "base.html" %}
{% load static %}
{% block title %}Error{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<div class="error-container">
  <div class="error-icon">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <h2>Oops! Something went wrong</h2>
  <p class="error-message">{{ message }}</p>
  <a href="{% url 'flight_search' %}" class="error-button">
    <i class="fas fa-arrow-left"></i> Back to Search
  </a>
</div>
{% endblock %}
